<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore and Resources</title>
    
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <header>
            <h1>Explore & Resources</h1>
            <nav>
                <ul>
                    <li><a href="#workouts">Workout Guides</a></li>
                    <li><a href="#nutaritcles">Nutrition Articles</a></li>
                    <li><a href="#mealgrocery">Meal Preparation and Grocery</a></li>
                    <li><a href="#diet">Diet Plan</a></li>
                    <li><a href="#healthyfoods">Popular Healthy Recipes</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="workouts">
                <h2>Some common workouts for maintaining physical fitness:</h2>
                <p>Physical Exercise is one of the most important factors of a fitness Plan. Here you will find some
                    common workouts with video tutorial to guide you.
                </p>
                <ul>
                    <li>Cardio Workouts(Improve heart health & endurance)</li>
                    <ol>
                        <li> <a href="https://youtu.be/ZlhCyrTTT4U?si=Ea9HdZVJ34AlhWrQ" target="_blank" style="text-decoration: none; color: inherit;">
                            Running or Jogging – Great for cardiovascular fitness and leg strength.
                             </a>
                        </li>
                        <li> <a href="https://youtu.be/4Hl1WAGKjMc?si=0zpOmesh9rdCRfsG" target="_blank" style="text-decoration: none; color: inherit;">
                            Cycling – Strengthens legs and improves endurance.
                             </a>
                            
                        </li>
                        <li><a href="https://youtu.be/DTdaiqR9now?si=PdqS877Zsjkm4RTm" target="_blank" style="text-decoration: none; color: inherit;">
                            Jump Rope – Excellent for full-body coordination and cardio.
                            </a>
                        </li>
                            
                        <li><a href="https://youtu.be/9D6DluTzcNA?si=nQOvkBIMLoFTUJX7" target="_blank" style="text-decoration: none; color: inherit;">
                            Swimming – Low-impact, full-body workout that builds endurance.
                        </a>
                        
                        </li>
                        <li><a href="https://youtu.be/fxx2Uc0AjFk?si=_W66v_kj8u3gpdjS" target="_blank" style="text-decoration: none; color: inherit;">

                            <p>High-Intensity Interval Training (HIIT) – Short bursts of intense exercise followed by rest.</p>
                        </a>
                        </li>

                    </ol>
                    <li>Strength Training (Muscle Growth & Toning)</li>
                    <ol>
                        <li><a href="https://youtu.be/30PqX2zvK88?si=lxU8jJTJxpo_XE34" target="_blank" style="text-decoration: none;color: inherit;">
                            Bodyweight Exercises: Push-ups, Squats, Lunges, Planks
                        </a>
                        </li>
                        <li><a href="https://youtu.be/0A3EgOztptQ?si=J9kAnH1Dk0eDuFNr" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Free Weights: Dumbbells, Barbells, Kettlebells.</p>
                        </a>
                        </li>
                        <li><a href="https://youtu.be/hQ2lHMP4kco?si=--xFA1yvyFlRohML" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Resistance Bands: Shoulder Press, Banded Squats</p>
                        </a>
                        </li>
                        <li><a href="https://youtu.be/uEsZWWiYNAQ?si=fhU_FGO8Mew7X_U7" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Machines: Leg Press, Lat Pulldown.</p>
                        </a>
                        </li>
                        
                    </ol>
                    <li>Flexibility & Mobility (Injury Prevention & Recovery)</li>
                    <ol>
                        <li><a href="https://youtu.be/chZsNmTUC2s?si=GwGxK5DKYl5QO_Lg" target="_blank" style="text-decoration: none; color: inherit;">

                            Static Stretching (Hamstring Stretch, Quad Stretch)
                        </a>
                    </li>
                        <li><a href="https://youtu.be/DgjiFOKWsfg?si=o14VPolBCC6Xvul9" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Dynamic Stretching (Leg Swings, Arm Circles)</p>
                        </a>
                    </li>
                        <li>
                            <a href="https://youtu.be/lVJS0mGr0jQ?si=9XvSvkkWjPS9fzXd" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Yoga (Sun Salutations, Warrior Pose)</p>
                        </a></li>
                        <li><a href="https://youtu.be/R0eqxnSyRkM?si=T-hSYi5E1OkJuB6S" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Pilates (Core & Mobility Workouts)</p>
                        </a></li>
                        <li><a href="https://youtu.be/NS73eSohTbc?si=P4dYaAvqSI3h56IZ" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Foam Rolling (Self-Myofascial Release)</p>
                        </a></li>
                    </ol>
                    
                    <li>Sports & Recreational Activities (Fun & Engaging Fitness)</li>
                    <ol>
                        <li><a href="https://youtu.be/kbgkeTTSau8?si=MlZvEfjB_qd1fxID" target="_blank" style="text-decoration: none; color: inherit;">
                            Boxing
                        </a>
                        </li>
                        <li><a href="https://youtu.be/sCq4ZylJcwg?si=0Si509fqBJoZLVvU" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Martial Arts</p>
                        </a>
                        </li>
                        <li><a href="https://youtu.be/IHHEKcfVIsg?si=2RJYUYWBYDVOEGBv" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Rock Climbing</p>
                           </a>
                        </li>
                        <li><a href="https://youtu.be/lE7-T_8gsdE?si=eU23Ykw4gyBpCboE" target="_blank" style="text-decoration: none; color: inherit;">
                            <p>Dance Fitness(Zumba, Hiphop)</p>
                           </a>
                        </li>
                        <li>
                            <p>Sports(Basketball,Soccer, Tennis)</p>
                            
                        
                        </li>

                    </ol>
                </ul>
            </section>
            <section id="nutaritcles"> 
                <h2>Some articles on the nutrition value of different foods and their impact on dietary plan </h2>
                <ul>
                    <p>"Eating the Right Foods for Exercise" – 
                        This article from Healthline discusses the importance of starting your day with a healthy meal, 
                        focusing on the right carbohydrates, incorporating adequate protein into your diet, and increasing
                        fruit and vegetable intake to support your exercise routine. 
                    </p>
                </ul>
                <ul>
                    <p>
                        "Feeding your fitness" – Harvard Health emphasizes the significance of consuming at least 70 grams
                         of protein throughout the day to fuel workouts effectively. It also highlights the importance of 
                         post-exercise nutrition, recommending about 20 grams of protein within 45 minutes after 
                         exercising, paired with carbohydrates if a meal isn't planned soon after.
                    </p>
                </ul>
                <ul>
                    <p>
                        "Importance of Good Nutrition on Physical Fitness" – Verywell Fit outlines how proper nutrition
                         maximizes athletic performance. It discusses the roles of carbohydrates, proteins, and fats in
                         preventing sluggishness during workouts and highlights specific vitamins and minerals crucial 
                         for fitness performance, such as iron, vitamin D, and zinc. 

                    </p>
                </ul>
                <ul>
                    <p>
                        "Sports and Nutrition: What Athletes Need to Know" – Mass General Brigham provides insights into
                         how macronutrients, micronutrients, meal timing, and supplements can enhance athletic performance.
                         The article offers practical advice on tailoring nutrition plans to individual needs and activity
                         levels.
                    </p>
                </ul>
                <ul>
                    <p>
                        "Food as Fuel Before, During and After Workouts" – The American Heart Association discusses the 
                        importance of hydration and nutrition during different phases of exercise. It provides guidelines 
                        on carbohydrate intake during prolonged, high-intensity workouts and emphasizes the role of proper
                        fueling in maintaining energy levels. 
                    </p>
                </ul>
            </section>




            <section id="mealgrocery">
                <h2>Meal Prep & Grocery Tips</h2>
                <p>Learn to meal prep efficiently with our expert tips.
                    <ol>
                        <li>Meal Prep Strategies</li>
                        <ul>
                            <li>
                                Plan Your Meals in Advance – Create a weekly meal plan that aligns with your fitness goals
                                (muscle gain, fat loss, endurance, etc.).
                            </li>
                            <li>
                                Batch Cooking – Cook in bulk to save time (e.g., grilled chicken, roasted vegetables, 
                                quinoa, or brown rice).
                            </li>
                            <li>
                                Portion Control – Use meal prep containers to divide meals appropriately for balanced nutrition.
                            </li>
                            <li>
                                Prep Ingredients, Not Just Meals – Wash and chop veggies, marinate proteins, and pre-cook grains
                                for quick meal assembly.
                            </li>
                            <li>
                                Use Freezer-Friendly Meals – Store meals in the freezer to maintain freshness for longer durations.
                            </li>
                        </ul>
                        <li>Grocery Shopping Tips</li>
                        <ul>
                            <li>Shop with a List – Stick to a planned grocery list to avoid buying unhealthy foods.</li>
                            <li>Shop the Perimeter – Fresh produce, lean proteins, and dairy are usually found around the store’s edges.</li>
                            <li>Choose Whole Foods – Focus on unprocessed, nutrient-dense foods (lean meats, whole grains, fruits, and vegetables).</li>
                            <li> Buy in Bulk – Save money on healthy staples like oats, rice, quinoa, nuts, and frozen vegetables.</li>
                            <li>Read Nutrition Labels – Avoid added sugars, unhealthy fats, and high-sodium content in packaged foods.</li>
                            <li>Stock Healthy Snacks – Keep nuts, Greek yogurt, hard-boiled eggs, and fruits on hand to curb cravings.</li>
                            
                        </ul>
                        <li> Macronutrient Balance for Fitness</li>
                        <ul>
                            <li> Protein (Muscle Repair & Growth) – Chicken, fish, eggs, tofu, lentils, Greek yogurt.</li>
                            <li>Carbohydrates (Energy Source) – Sweet potatoes, quinoa, oats, whole wheat bread.</li>
                            <li> Fats (Hormonal Balance & Satiety) – Avocados, nuts, olive oil, seeds.</li>
                            <li> Hydration – Drink plenty of water and consider electrolyte-rich drinks for intense workouts.</li>
                        </ul>
        
                        
                    </ol>
                </p>
            </section>
            <section id="diet">
                <h2>Personalized Recommendations</h2>
                <p>Filter meal plans based on your dietary restrictions.</p>
            </section>
            <section id="healthyfoods">
                <h2>Some delicious and healthy recipes for everyone</h2>
                <img src="{% static 'images/image1.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image2.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image3.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image4.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
            
                <img src="{% static 'images/image6.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image7.jpg' %}" alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image8.jpg' %}"alt="Anti Belly Bloat Green" width="400" height="400">
                <img src="{% static 'images/image9.jpg' %}"alt="Anti Belly Bloat Green" width="400" height="400">







            

            </section>
        </main>
        <footer>
            <p>&copy; 2025 CUFitness. All rights reserved.</p>
        </footer>
    </body>
</html>